extends layout
block content
  div.container
    div.row
      div.col-xs-12
        h1 New product
        form.form-group(action='/add', method = 'POST', enctype='multipart/form-data')
          div.form-group
            label.control-label NAME
            input.form-control(type='text', name='name')
          div.form-group
            label.control-label TAG LINE
            input.form-control(type='text', name='tagline')
          div.form-group
            label.control-label URL
            input.form-control(type='text', name='url')
          div.form-group
            label.control-label UPLOAD A PICTURE
            input(type = "file", name= "imageLogo")
          ul.list-inline
            li
              button.btn.btn-danger(type='submit') Add
            li
              a(href='/')
                button.btn.btn-add(type='submit') Cancel






        
  
  
