extends layout
block content
  h2 Add your product
  form(action='/add', method = 'POST')
    | Name
    input(type='text', name='name')
    | Tag Line
    input(type='text', name='tagline')
    | URL
    input(type='text', name='url')
    button(type='submit') Add
