extends layout
block content
        div.container
          div.row
            div.col-xs-12
              h1 Edit your product
              form.form-group(action=`/edit/${product.id}`, method = 'POST')
                div.form-group
                  label.control-label NAME
                  input.form-control(type ='text', name = 'name', value = product.name)
                div.form-group
                  label.control-label TAG LINE
                  input.form-control(type ='text', name = 'tagline', value = product.tagline)
                div.form-group
                  label.control-label URL
                  input.form-control(type = 'text', name = 'url', value = product.url)
                div.form-group
                  label.control-label PICTURE
                  input(type = 'file', name = 'photo')
                ul.list-inline
                  li
                    input.btn.btn-danger(type = 'submit', value = 'EDIT')
                  li
                    a.btn.btn-warning(href = '/products') CANCEL
