extends layout
block content
  h2 Edit your product
  form(action=`/edit/${product.id}`, method = 'POST')
    | Name
    input(type='text', name='name', value=product.name)
    | Tag Line
    input(type='text', name='tagline', value=product.tagline)
    | URL
    input(type='text', name='url', value=product.url)
    button(type='submit') Edit
