doctype html
html
  head
    meta(charset='UTF-8')
    title Bonjour
    link(rel='stylesheet', href="../stylesheets/style.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  body
    nav.navbar.navbar-default
      div.container
        div.navbar-header
          a.navbar-brand(href='/') Product Hunt
      div
        ul.nav.navbar-nav.navbar-right.list-inline
            li
              p.navbar-btn
                a.btn.btn-default(href='/add') Add a product
          
          
    block content
