extends layout
block content
  h1 All products
  a(href='/add')
    
  each product in products
    a(href=`products/${product.id}`)
      h3 #{product.name}
      p #{product.tagline}
      img(src='images/logo-google.png')
